
body {
    font-family: Arial, sans-serif;
    margin: 35px;
    background-color: #f2f2f2; 
    padding-top: 2px;
}
img{
    height: 80px;
    width: 80px;
}


#searchContainer {
    background-color: #aad3ff;
    margin-bottom: 20px;
    padding: 10px; 
    border-radius: 5px; 
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}
#searchInput {
    background-color: #e1ecff; 
    padding: 8px;
    width: 200px;
    margin-right: 10px;
    border: none; 
    border-radius: 3px; 
}
#searchButton {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 3px;
    transition: background-color 0.2s ease; 
    
}
#searchButton:hover {
    background-color: #0056b3;
}

table {
    width: 80%;
    margin: 0 auto;
    border-collapse: collapse;
    background-color: white;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

table th {
    background-color: #aad3ff;
    padding: 10px;
    text-align: left;
    font-size: 24px;
    color: #333; 
}

table th, table td {
    border: 1px solid #ccc;
}

table td {
    padding: 10px;
    font-size: 20px;
    color: #555; 
}


h1 {
    font-size: 36px;
    color: #333;
    margin-bottom: 10px;
}

img {
    margin-right: 10px;
}





