<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista Telefônica PMC</title>
    <link rel="icon" href="/static/logo.png" type="image/x-icon">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    
    <h1 id="titulo">
        <img src="{{ url_for('static', filename='logo.png') }}" alt="Logo da Lista Telefônica">
        Lista Telefônica 
    </h1>

    <div id="searchContainer">
        <input type="text" id="searchInput" placeholder="Buscar por nome...">
        <button id="searchButton">Buscar</button>
    </div>

    <table id="phoneList"class="table table-responsive-md table-bordered" cellspacing="0" cellpadding="4" rules="cols" border="1" id="GridView1">
        <tr>
            <th id="nome">Nome</th>
            <th id="ramal">Ramal</th>
            <th id="setor">Setor</th>
        </tr>
        {% for entry in phone_data %}
        <tr>
            <td>{{ entry['nome'] }}</td>
            <td>{{ entry['ramal'] }}</td>
            <td>{{ entry['setor'] }}</td>
        </tr>
        {% endfor %}
    </table>

    <script>
        function buscarContatos() {
            var query = document.getElementById("searchInput").value.toLowerCase();
    
            var table = document.getElementById("phoneList");
    
            for (var i = 1; i < table.rows.length; i++) {
                var row = table.rows[i];
    
                var nome = row.cells[0].textContent.toLowerCase();
    
                if (nome.includes(query)) {
                    row.style.display = "";
                } else {
                    row.style.display = "none";
                }
            }
        }
    
        document.getElementById("searchButton").addEventListener("click", buscarContatos);
    </script>
</body>
</html>
